<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-dark border-bottom box-shadow mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="nav-item"><img src="/images/logoharv.png" style="padding:0px;" /></a>
                <a class="navbar-brand fw-bold text-center" asp-area="" asp-controller="Home" asp-action="Index">HARVARD UNIVERSITY<br> PORTAL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor02">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light" asp-controller="Student" asp-action="StudentList"><i class="bi bi-person-lines-fill"></i>   Student List</a>
                                <a class="dropdown-item text-light" asp-controller="Student" asp-action="AddStudent"><i class="bi bi-person-add text-light"></i>   Add Student</a>
                                <a class="dropdown-item text-light" asp-controller="Student" asp-action="EditStudent"><i class="bi bi-pencil-square"></i>   Edit Student</a>
                                <a class="dropdown-item text-light" asp-controller="Student" asp-action="DeleteStudent"><i class="bi bi-trash"></i>   Delete Student</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subject</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light" asp-controller="Subject" asp-action="SubjectList"><i class="bi bi-card-list"></i>   Subject Summary</a>
                                <a class="dropdown-item text-light" asp-controller="Subject" asp-action="AddSubject"><i class="bi bi-file-plus"></i>   Add Subject</a>
                                <a class="dropdown-item text-light" asp-controller="Subject" asp-action="EditSubject"><i class="bi bi-pencil-square"></i>   Edit Subject</a>
                                <a class="dropdown-item text-light" asp-controller="Subject" asp-action="DeleteSubject"><i class="bi bi-trash"></i>   Delete Subject</a>
                                <a class="dropdown-item text-light" asp-controller="Subject" asp-action="SubjectSummary"><i class="bi bi-card-checklist"></i>  Subject List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pre-Requisite</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light" asp-controller="PreReq" asp-action="PreReqAdd"><i class="bi bi-file-plus"></i>   Add Pre-Requisite</a>
                                <a class="dropdown-item text-light" asp-controller="PreReq" asp-action="PreReqList"><i class="bi bi-card-checklist"></i>  Pre-Requisite List</a>
                                
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light" asp-controller="Schedule" asp-action="ScheduleList"><i class="bi bi-card-checklist"></i>   Schedule List</a>
                                

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container"  >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2024 - StudentPortal | Made by Victor Emmanuel Jacaba - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
