@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



<form class="row g-3" method="get">
    <div>
        <h2 class="text-black">
            Delete Student
        </h2>
    </div>
    <hr class="text-black">
    <div class="col-sm-2">
        <label asp-for="Id" class="form-label">Enter Student Id:</label>
        <input asp-for="Id" type="text" class="form-control">
        
        <button type="submit" value="Search" class="btn btn-brown" style="background-color: #8B4513;color: white; border: none; border-radius: 0; font-size:10px" onmouseover="this.style.backgroundColor='#6F4C3E';"
                onmouseout="this.style.backgroundColor='#8B4513';">
            <i class="bi bi-search"></i>   Search
        </button>
    </div>

</form>

@if (ViewBag.Message != null)
{
    <p style="color:red;">@ViewBag.Message</p>
}

@if (Model != null)
{
    <br>

    <form class="row g-3" method="post">

        <div class="col-md-6">
            <label asp-for="Id" class="form-label">Student ID</label>
            <input asp-for="Id" disabled class="form-control">
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="FName" class="form-label">First Name</label>
            <input asp-for="FName" type="text" disabled class="form-control">
            <span asp-validation-for="FName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="LName" class="form-label">Last Name</label>
            <input asp-for="LName" type="text" disabled class="form-control">
            <span asp-validation-for="LName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="MName" class="form-label">Middle Name</label>
            <input asp-for="MName" type="text" disabled class="form-control">
            <span asp-validation-for="MName" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Age" class="form-label">Age</label>
            <input asp-for="Age" type="text" disabled class="form-control">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Course" class="form-label">Course</label>
            <input asp-for="Course" type="text" disabled class="form-select">
            <span asp-validation-for="Course" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Section" class="form-label">Section</label>
            <input asp-for="Section" type="text" disabled class="form-control">
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Year" class="form-label">Year Level</label>
            <input asp-for="Year" type="text" disabled class="form-control">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn" style="background-color: #8B0000;color: white; border: none; border-radius: 0; font-size:10px" onmouseover="this.style.backgroundColor='#FF0000';"
                    onmouseout="this.style.backgroundColor='#8B4513';">
                <i class="bi bi-person-x"></i>    Delete
            </button>
        </div>
    </form>
}
