@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Subject
<form class="row g-3" method="get">
    <div>
        <h2 class="text-black">
            Delete Subject
        </h2>
    </div>
    <hr class="text-black">
    <div class="col-sm-2">
        <label asp-for="SubjCode" class="form-label">Enter Subject Code:</label>
        <input asp-for="SubjCode" type="text" class="form-control">

        <button type="submit" value="Search" class="btn btn-brown" style="background-color: #8B4513;color: white; border: none; border-radius: 0; font-size:10px" onmouseover="this.style.backgroundColor='#6F4C3E';"
                onmouseout="this.style.backgroundColor='#8B4513';">
            <i class="bi bi-search"></i>   Search
        </button>
    </div>

</form>

@if (ViewBag.Message != null)
{
    <p style="color:red;">@ViewBag.Message</p>
}

@if (Model != null)
{
    <br>

    <form class="row g-3" method="post">

        <div class="col-md-6">
            <label asp-for="SubjCode" class="form-label">Subject Code</label>
            <input asp-for="SubjCode" disabled class="form-control">
            <span asp-validation-for="SubjCode" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Descript" class="form-label">Description</label>
            <input asp-for="Descript" type="text" disabled class="form-control">
            <span asp-validation-for="Descript" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Units" class="form-label">Units</label>
            <input asp-for="Units" type="text" disabled class="form-control">
            <span asp-validation-for="Units" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Offering" class="form-label">Offering</label>
            <input asp-for="Offering" type="text" disabled class="form-control">
            <span asp-validation-for="Offering" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="CatCourse" class="form-label">Course</label>
            <input asp-for="CatCourse" type="text" disabled class="form-control">
            <span asp-validation-for="CatCourse" class="text-danger"></span>
        </div>
        
        <div class="col-md-3">
            <label asp-for="CurrYear" class="form-label">Curriculum Year</label>
            <input asp-for="CurrYear" type="text" disabled class="form-control">
            <span asp-validation-for="CurrYear" class="text-danger"></span>
        </div>

        

        
        
        <div class="col-12">
            <button type="submit" class="btn" style="background-color: #8B0000;color: white; border: none; border-radius: 0; font-size:10px" onmouseover="this.style.backgroundColor='#FF0000';"
                    onmouseout="this.style.backgroundColor='#8B4513';">
                <i class="bi bi-person-x"></i>    Delete
            </button>
        </div>
    </form>
}